/* ---------------------------------------------
 *	sidebar | navigation
 * ----------------------------------------------- */

 aside {
	position: fixed;
    z-index: 2;
    left: 0;
    background: #fff;
    right: 0;
	bottom: 0;
	nav {
		border-top: 1px solid $grey-200;
		box-shadow: 0 4px 8px -1px rgba(0, 0, 0, 0.4), 0 2px 4px -1px rgba(0, 0, 0, 0.09);
		display: flex;
		justify-content: center;
		ul {
			li {
				a {
					color: $grey-300;
					display: inline-flex;
					flex-direction: column;
					&:before {
						align-self: center;
						display: inline-flex;
						font-family: 'ionicons';
					}
				}
				a.active {
					color: $grey-900;
				}
				&:first-of-type {
					display: none;
					color: $grey-400;
					font-weight: bold;
					text-transform: uppercase;
					font-size: 0.75em;
					width: 18em;
				}
				display: inline-flex;
				padding: .625em 0.5em;
			}
			&:last-of-type {
				li {
					&:first-of-type {
						padding-top: 3.75em;
					}
				}
			}
		}
	}
	footer {
		color: $grey-400;
	}
}


.discover {
	li {
		&:nth-of-type(2) {
			a {
				&:before {
					content: '\e906';
				}
			}
		}
		&:nth-of-type(3) {
			display: none;
			a {
				&:before {
					content: '\e905';
				}
			}
		}
	}
}
.categories {
	li {
		&:nth-of-type(2) {
			a {
				&:before {
					content: '\e901';
				}
			}
		}
		&:nth-of-type(3) {
			display: none;
			a {
				&:before {
					content: '\e903';
				}
			}
		}
		&:nth-of-type(4) {
			a {
				&:before {
					content: '\e904';
				}
			}
		}
		&:nth-of-type(5) {
			a {
				&:before {
					content: '\e900';
				}
			}
		}
		&:nth-of-type(6) {
			display: none;
			a {
				&:before {
					content: '\e902';
				}
			}
		}
	}
}


@media screen and (min-width: 48em) {
	aside {
		border-right: 1px solid $grey-100;
		padding: 2em;
		position: relative;
		flex: 1;
		nav {
			border-top: 0;
			box-shadow: none;
			flex-direction: column;
			justify-content: start;
			height: 100%;
			ul {
				li {
					display: flex;
					&:first-of-type { 
						display: flex;
					}
					a {
						&::before {
							padding-right: .625em;
						}
						flex-direction: row;
					}
				}
			}
		}
	}
	.discover {
		li {
			&:nth-of-type(3) {
				display: flex;
			}
		}	
	}
	.categories {
		li {
			&:nth-of-type(6) {
				display: flex;
			}
		}	
	}
}