/* ---------------------------------------------
 *	sidebar | navigation
 * ----------------------------------------------- */

 aside {
	position: fixed;
    z-index: 2;
    left: 0;
    background: #fff;
    right: 0;
	bottom: 0;
	nav {
		border-top: 1px solid $grey-200;
		box-shadow: 0 4px 8px -1px rgba(0, 0, 0, 0.4), 0 2px 4px -1px rgba(0, 0, 0, 0.09);
		display: flex;
		justify-content: center;
		ul {
			li {
				a {
					color: $grey-500;
					display: inline-flex;
					flex-direction: column;
					&:before {
						content: '';
						align-self: center;
						display: inline-flex;
						width: 1em;
						height: 1.2em;
						background-size: contain;
						background-repeat: no-repeat;
						background-position: center;
					}
				}
				a.active {
					color: $grey-900;
				}
				&:first-of-type {
					display: none;
					color: $grey-700;
					font-weight: bold;
					text-transform: uppercase;
					font-size: 0.75em;
					width: 18em;
				}
				display: inline-flex;
				padding: .625em 0.5em;
			}
			&:last-of-type {
				li {
					&:first-of-type {
						padding-top: 3.75em;
					}
				}
			}
		}
	}
	footer {
		color: $grey-500;
	}
}


.discover {
	li {
		&:nth-of-type(2) {
			a {
				&:before {
					background-image: url('/img/icons/home-outline.svg');
				}
			}
		}
		&:nth-of-type(3) {
			display: none;
			a {
				&:before {
					background-image: url('/img/icons/planet-outline.svg');
				}
			}
		}
	}
}
.categories {
	li {
		&:nth-of-type(2) {
			a {
				&:before {
					background-image: url('/img/icons/book-outline.svg');
				}
			}
		}
		&:nth-of-type(3) {
			display: none;
			a {
				&:before {
					background-image: url('/img/icons/glasses-outline.svg');
				}
			}
		}
		&:nth-of-type(4) {
			display: none;
			a {
				&:before {
					background-image: url('/img/icons/people-outline.svg');
				}
			}
		}
		&:nth-of-type(5) {
			a {
				&:before {
					background-image: url('/img/icons/albums-outline.svg');
				}
			}
		}
		&:nth-of-type(6) {
			display: none;
			a {
				&:before {
					background-image: url('/img/icons/calendar-outline.svg');
				}
			}
		}
		&:nth-of-type(7) {
			a {
				&:before {
					background-image: url('/img/icons/search-outline.svg');
				}
			}
		}
	}
}


@media screen and (min-width: 48em) {
	aside {
		border-right: 1px solid $grey-100;
		padding: 2em;
		position: relative;
		flex: 1;
		display: flex;
    	flex-direction: column;
		nav {
			border-top: 0;
			box-shadow: none;
			flex-direction: column;
			justify-content: start;
			ul {
				li {
					display: flex;
					&:first-of-type { 
						display: flex;
					}
					a {
						&::before {
							margin-right: .625em;
						}
						flex-direction: row;
					}
				}
			}
		}
	}
	.discover {
		li {
			&:nth-of-type(3) {
				display: flex;
			}
		}	
	}
	.categories {
		li {
			&:nth-of-type(6) {
				display: flex;
			}
		}	
	}
}