@import 'header';
@import 'navigation';
@import 'footer';
@import 'button';

body {
	background-color: $grey-000;
	font-family: Open Sans, Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: $grey-900;
	margin: 0;
	display: flex;
	flex-direction: column;
	height: 100vh;
	& > header {
		border: 1px solid #eeeff0;
    	padding: .25em 1em;
    	position: fixed;
    	width: 100%;
    	z-index: 2;
    	background: $grey-000;
	}
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
}

a {
	color: $grey-900;
	text-decoration: none;
	transition: color 0.2s ease-in-out;
}

a:hover {
	color: $marvel-500;
}

h2 {
	font-size: 1em;
}

/* ---------------------------------------------
 *	container
 * ----------------------------------------------- */

main {
	display: flex;
	width: 100%;
	top: 5em;
	position: relative;
}

@media screen and (min-width: 64em) {
	main {
		align-self: flex-end;
		width: calc(100vw - 30vw);
	}
}

@media screen and (min-width: 80em) {
	main {
		width: calc(100vw - 20vw);
	}
}