{{#if character}}
    <section class="character">
        <header>
            <img src="{{character.thumbnail}}">
            <div>
                <h2>{{character.title }}</h2>
            </div>
        </header>
    </section>
{{/if}}