<section class="comics">
    <% comics.forEach(comic => { %>
        <article>
            <img src="<%= comic.thumbnail %>">
            <a href="<%= /comics/ + comic.id %>"><h2><%= comic.title %></h2></a>
        </article>
    <%})%>
</section>
