<section class="comic">
    <article>
        <img src="<%= comic.thumbnail %>">
        <h2><%= comic.title %></h2>
        <ul>
            <% for(creator of comic.creators)  { %>
                <li><span><%= creator.role %></span><%= creator.name %></li>
            <% } %>
        </ul>
    </article>
</section>