<script>
if ('serviceWorker' in navigator) {
    window.addEventListener('load', function() {
        navigator.serviceWorker
            .register(
                '/service-worker.js'
            )
            .then((reg) => {
                console.log('working');
            });
    });
};
</script>
<script src="/js/main.js"></script>
</body>
</html>