<script>
if ('serviceWorker' in navigator) {
    window.addEventListener('load', function() {
        navigator.serviceWorker
            .register(
                '/service-worker.js'
            )
            .then((registration) => {
                return registration.update();
            });
    });
};
</script>
{{#if comics}}
<script src="/js/main-min.js"></script>
{{/if}}
</body>
</html>