<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

	<meta name="description" content="Marvel Web App">
	<meta name="theme-color" content="#cf2025">

	<link rel="icon" type="image/png" href="/favicon.png" />
	
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="apple-touch-icon" href="/marvel-icon.png">

	<link rel="stylesheet" type="text/css" href="/css/style.min.css">
	<link rel="manifest" href="/manifest.json">
	<title>Marvel</title>
</head>

<body>
