<header>
    <nav class="navbar-top">
        <ul>
            <li>
                <a href="/">
                    <img src="/img/marvel-logo.svg" alt="Marvel's Logo">
                    Comics
                </a>
            </li>
            <li>
                <form action="/search">
                    <label for="search">Search by characters, comics or series</label>
                    <input type="search" id="search" name="search" placeholder="Search by characters, comics or series">
                    <button>search</button>
                </form>
            </li>
        </ul>
    </nav>
</header>