<aside>
    <nav>
        <ul class="discover">
            <li>
                Discover
            </li>
            <li>
                <a class="links" href="/">Home</a>
            </li>
            <li>
                <a class="links" href="/browse">Browse</a>
            </li>
        </ul>
        <ul class="categories">
            <li>
                Categories
            </li>
            <li>
                <a class="link" href="/comics">Comics</a>
            </li>
            <li>
                <a href="/creators">Creators</a>
            </li>
            <li>
                <a class="link" href="/characters">Characters</a>
            </li>
            <li>
                <a href="/series">Series</a>
            </li>
            <li>
                <a href="/events">Events</a>
            </li>
        </ul>
    </nav>
    <footer>
        © Lien
    </footer>
</aside>