<aside>
    <nav>
        <ul>
            <li>
                Discover
            </li>
            <li>
                <a class="links" href="/">Home</a>
            </li>
            <li>
                <a class="links" href="/">Browse</a>
            </li>
        </ul>
        <ul>
            <li>
                Categories
            </li>
            <li>
                <a class="link" href="/comics">Comics</a>
            </li>
            <li>
                <a href="">Creators</a>
            </li>
            <li>
                <a class="link" href="/characters">Characters</a>
            </li>
            <li>
                <a href="#">Series</a>
            </li>
            <li>
                <a href="#">Events</a>
            </li>
        </ul>
    </nav>
    <footer>
        © Lien
    </footer>
</aside>