{{#if character}}
    <section class="character">
        <header>
            <img src="{{ character.thumbnail }}">
            <div>
                <h1>{{ character.title }}</h1>
            </div>
        </header>
    </section>
{{/if}}