.browse-title {
    margin: .625em .5em;
}
.browse {
	header {
		margin: 0 1em;
		width: 100%;
		h2 {
			color: $grey-500;
			font-size: 1em;
			text-transform: uppercase;
		}
	}

 	article {
 		a {
 			color: $grey-800;
 		}
 	}
}