.search {
    h1 {
        margin: 0;
    }
}

.search-form {
    form {
        width: 100%;
    }
	label {
        position: absolute;
		opacity: 0;
		height: 0;
		width: 0;
	}
	input {
		background-color: $grey-100;
		border: 0;
		border-radius: 10em;
		font-size: 1em;
		padding: .625em 2em;
        width: 100%;
		flex: 1;
		&:focus {
			outline: $marvel-400;
		}
	}
	button {
		display: none;
	}
}

@media screen and (min-width: 48em) {
	.search-form {
		display: none;
	}
}