/* ---------------------------------------------
 *	mess | need to clean/put where it belongs
 * ----------------------------------------------- */

#loader:empty:before {
	animation: loading 1s infinite;
	content: url('../img/Captain_America_Shield.svg');
	display: flex;
	position: absolute;
	top: 40%;
	left: 50%;
	margin: 0 auto;
	height: 8em;
	width: 8em;
}

section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;

	article {
		padding: 0 1em;
		transition: all 0.5s ease-in-out;
		width: 100%;
		margin-bottom: 4em;
	}

	header {
		width: 100%;
		margin: 0 .5em;
		span {
			color: $grey-500;
			margin-right: .625em;
			text-transform: capitalize;
		}
	}

	h1 {
		color: $grey-800;
		font-size: 1.6em;
	}

	p {
		color: $grey-500;
		width: 100%;
	}
}

.character header,
.comic header {
	display: flex;
	flex-direction: column;
}

.comic {
	h1 {
		width: 60%;
	}

	h2 {
		color: $grey-500;
		width: 100%;
		margin: .5em 0;
	}

	&>h2 {
		margin: 2em 1em 0;
	}

	div {
		display: flex;
		flex-direction: column;
	}
}

.comic header img,
.character header img,
section article img {
	position: relative;
	border-radius: 0.15em;
	box-shadow: 0 4px 8px -1px rgba(0, 0, 0, .4), 0 2px 4px -1px rgba(0, 0, 0, .09);
	transition: all 0.5s ease-in-out;
	object-fit: cover;
	height: 21em;
	width: 100%;
}

@media screen and (min-width: 48em) {
	section {
		article {
			width: 14em;
		}
	}

	.comic header img,
	section article img {
		width: 14em;
	}

	.character header,
	.comic header {
		flex-direction: row;
	}
}