@import 'characters';
@import 'comics';
@import 'browse';
@import 'search';
@import 'offline';
@import 'shame';

.container {
    padding: 1em;
	flex: 6;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
    position: relative;
}