{{> partials/head }}
    {{> partials/header }}
        <main>
            {{> partials/nav }}
            <div class="container">
                {{> layouts/comics }}                
                {{> layouts/characters }}
                {{> layouts/character-detail }}
                {{> layouts/comic-detail }}
                {{> layouts/search }}
            </div>
        </main>
{{> partials/footer}}
