{{> head }}
    {{> header }}
        <main>
            {{> nav }}
            <div class="container">
                {{> comics }}                
                {{> characters }}
                {{> character-detail }}
                {{> comic-detail }}
                {{> search }}
            </div>
        </main>
{{> footer}}
