{{> head }}
<main>
    {{> header }}
    <div class="container">
        {{> nav }}
        <section>
            {{> comics }}                
            {{> characters }}
            {{> character }}
            {{> comic-detail }}
            {{> search }}
        </section>
    </div>
</main>
{{> footer}}
