{{> partials/head }}
    {{> partials/header }}
        <main>
            {{> partials/nav }}
            <div class="container">
                {{> layouts/offline }}             
                {{> layouts/comics }}                
                {{> layouts/series }}                
                {{> layouts/creators }}                
                {{> layouts/events }}                
                {{> layouts/characters }}
                {{> layouts/search }}
            </div>
        </main>
{{> partials/footer}}
